*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #D4D4D2;
}
.calculator{
    background-color: #1C1C1C;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border: solid 1px #1C1C1C;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    border-radius: 5px;
    margin-top: 40px;
}
#result{
    background-color: #D4D4D2;
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border: none;
    outline: none;
    box-shadow: 0 2px 5px rgba(0,0,0,.3) inset;
    border-radius: 5px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}
button{
    padding: 10px;
    font-size: 24px;
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}
button:hover{
    background-color: #ddd;
}
.clear{
    background-color: #FF9500;
    color: #fff;
}
.number, .decimal{
    background-color: #505050;
    color: #fff;
}
.operator{
    background-color: #FF9500;
    color: #fff;
}
.equals{
    background-color: #FF9500;
    color: #fff;
    grid-row: span 3;
}
#zero{
    grid-column: span 2;
}